<html>
<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
            <div id = "container">
                <img class="todo-icon animate__animated animate__heartBeat animate__infinite" src="https://t4.ftcdn.net/jpg/02/98/04/15/240_F_298041507_ZfWiLTLhbXdEK7gaSCW9k6o8jJWE3NVT.jpg" alt="icon">
                <h1 class ="heading animate__animated animate__rollIn"> TODO APP</h1>
                <div id ="task-container" >
                    <h2 class="your-tasks animate__animated animate__headShake animate__infinite animate__slow"> Your Tasks</h2>
                   <div class ="personal-task ">
                   <a class="work-heading" href="/personal"> Personal</a>
                  <a href="/personal"> <img id="work-image" src="https://www.flaticon.com/svg/static/icons/svg/3048/3048122.svg" alt="work-image"></a>
                   </div>
                   <div class="school-task">
                   <a class="work-heading" href="/school"> School</a>
                 <a href="/school">  <img id="work-image" src="https://www.flaticon.com/svg/static/icons/svg/569/569025.svg" alt="work-image"></a>
             </div>
                <div class="work-task ">
                <a class="work-heading" href="/work"> Work</a>
               <a href="/work"> <img id="work-image" src="https://www.flaticon.com/premium-icon/icons/svg/3264/3264760.svg" alt="work-image"></a>
                       
                </div>
                <div class="other-task">
                <a class="work-heading" href="/other"> Other</a>
               <a href="/other"> <img id="work-image" src="https://www.flaticon.com/svg/static/icons/svg/75/75406.svg" alt="work-image"></a>
                </div>
               <form action="/newTask" method="GET">
                <input id="add-task-button" type="submit" value="Add new task">
               </form>
                </div>
            </div>

</body>
</html>