<html>
    <head>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
   <link rel="stylesheet" href="./css/newTask.css">
    </head>
    <body>
        <div id="container">
            <img class="todo-icon animate__animated animate__heartBeat animate__infinite" src="https://t4.ftcdn.net/jpg/02/04/23/11/240_F_204231168_bcZftnTPMS34zMClK03XzShYTORIwQYN.jpg" alt="icon">
                <h1 class ="heading animate__animated animate__rollIn"> TODO APP</h1>
                <div class ="form-container">
                    <form action="">
                        <input  id= "description" type="text" name ="task" placeholder="What do you need to do" >  
                    </form>
                </div>
        </div>
    </body>
</html>
