<html>
<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

            <div id = "container">
                <img id="todo-icon" src="https://t4.ftcdn.net/jpg/02/54/89/53/240_F_254895323_obnGLx85kZqiQMe3Qpg7HRcO5CjF2h3g.jpg" alt="icon">
                <h1 id ="heading"> TODO APP</h1>
                <div id ="task-container" >
                   <div class ="personal-task animate__animated animate__bounce animate__faster">

                   </div>
                   <div id="school-task">
                       
                </div>
                <div id="work-task">
                       
                </div>
                <div id="other-task">
                       
                </div>
                <input id="add-task-button" type="submit" value="Add a task">
                </div>
            </div>

</body>
</html>