<!-- <html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id ="container">
            
                <span id = "heading">TODO APP</span>
            <div id = "form-container">
                <form  id = "FORM" action="/create-work" method ="POST">
                 <input  id= "description" type="text" name ="task" placeholder="What do you need to do" >  
                
                 <div id ="category">
                 <label id= "Category-heading" for="cars">Choose a category:</label>
                 <br>
                 <select name="category" class="D" id="cars">
                     <option  value="Personal">Personal</option>
                     <option value="Work">Work</option>
                     <option value="School">School</option>
                     <option value="Other">Other</option>
                
                 </select>
                 </div>
                
                   <input id="date"  type="date" name="date" placeholder="dd/mm/yy">
               
                   <input id="add" type = "submit" value = "ADD TASK">
                   <input id="delete" type = "submit" value = "Delete TASK">

                  

                </form>
                <div id=tasks>
                  <% for(let i of TODO){%>
                    <div id="T">
                      <a href = "/delete/work/?id=<%= i._id%>"> <img id="cross-icon" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828665.svg" alt="cross"></a>
                     <p id="TASK">
                       <%= i.task%>
                       <br>
                     <small> <i class="fa fa-car" style="font-size:20px;"></i>&nbsp&nbsp<%=  i.date%> </small>
                     </p>
                     <div id="cat">
                        <%= i.category %>
                     </div>
                    </div>
                    <%}
                  
                  %>
                </div>
                
        </div>

       
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html> -->