body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

#container{
    width:50%;
    height: 90%;
    margin-top:5%;
    margin-left:25%;
    background-color:#f4abc4;
    border: 3px dashed #060930;
    border-radius: 10%;

}
.todo-icon{
    height:15%;
    width:17%;
    margin-left:3%;
    margin-top: 3%;
    border-radius: 50%;
}
.heading{
    display: inline-block;
    margin-left: 10%;
    margin-top:0%;
    color: #1a1c20;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: underline;
}
#description{
    height: 10%;
    width:50%;
    font-size: 1.3rem;
    color: black;
    outline: none;
}