body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

#container{
    width:50%;
    /* height: 90%; */
    margin-top:5%;
    margin-left:25%;
    background-color:#f4abc4;
    border: 3PX dashed black;
    border-radius: 10%;
}
.todo-icon{
    height:15%;
    width:17%;
    margin-left:3%;
    margin-top: -5%;
    border-radius: 50%;
}
.heading{
    display: inline-block;
    margin-left: 10%;
    margin-top:5%;
    color: #1a1c20;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: underline;
}
#heading:hover{
    color: #0278ae;
}
#task-container{
    height: 80%;
    margin: 5%;
 
}
.your-tasks{
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 30%;
    color: #000000;
    text-decoration: underline;
}
.your-tasks:hover{
    color: #595b83;
    transition: color .5s ease-in-out;
}
.personal-task{
    display: inline-block;
    margin-top:5%;
    margin-left:10%;
    height: 30%;
    width: 35%;
    border:2px solid black;
    background-color: #595b83;
    border-radius: 50%;
    /* animation: changeshape .5s ease 100 alternate; */
}
.school-task{
    display: inline-block;
    margin-top:5%;
    margin-left:10%;
    height: 30%;
    width: 35%;
    border:2px solid black;
    background-color: #373a40;
    border-radius: 50%;

}
.work-task{
    display: inline-block;
    margin-top:5%;
    margin-left:10%;
    height: 30%;
    width: 35%;
    border:2px solid black;
    background-color: #213e3b;
    border-radius: 50%;

}
.work-heading{
    display: inline-block;
    margin-left: 30%;
    margin-top: 5%;
    color: blanchedalmond;
    text-decoration: underline;
    font-size: 1.7rem;
}
.work-heading:hover{
    color:#060930;
    transition: color .5s ease-in-out;
}
#work-image{
    height:50%;
    width:40%;
    margin-left: 30%;
    margin-top: 5%;
}
.other-task{
    display: inline-block;
    margin-top:5%;
    margin-left:10%;
    height: 30%;
    width: 35%;
    border:2px solid black;
    background-color: #0278ae;
    border-radius: 50%;

}
#add-task-button{
    margin-left: 35%;
    margin-top: 5%;
    background-color: black;
    color:red;
    font-size: 2rem;
    border-radius:60%;
    outline: none;
    padding: 2%;

}
#add-task-button:hover{
    background-color:#060930;
    color: #f8f1f1;
    border-radius:50%;
}
